A04: XX = 04
H04: XX = 10

Không sử dụng Nest Loop (Không có các vòng lặp lồng nhau).
Không sử dụng hàm pow, ngoại trừ các bài tính căn.

40 bài đầu tiên, mỗi sv làm 10 bài.
+ Chữ số cuối (MSSV) % 4 == 1 => Làm cái bài % 4 == 1
+ Chữ số cuối (MSSV) % 4 == 2 => Làm cái bài % 4 == 2
+ Chữ số cuối (MSSV) % 4 == 3 => Làm cái bài % 4 == 3
+ Chữ số cuối (MSSV) % 4 == 0 => Làm cái bài % 4 == 0

Với mỗi bài, comment 3 test case ở đầu hàm main.
VD, với bài P06, tính sin.
// TEST CASE 1:
// Input: 0
// Output: 0.00

// TEST CASE 2:
// Input: 90
// Output: 1.00

// TEST CASE 3:
// Input: 180
// Output: 0.00